<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

     <!--  <context:property-placeholder location="/WEB-INF/jdbc.properties" /> -->
   <!-- 
     <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:location="/WEB-INF/jdbc.properties" />  
      -->      
    <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
        p:driverClassName="com.mysql.jdbc.Driver"
        p:url="jdbc:mysql://localhost:3306/easyranking?useUnicode=true&amp;characterEncoding=UTF-8"
        p:username="easyranking"
        p:password="Dilip123" />
 
    <bean id="sessionFactory"  
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource">  
            <ref bean="dataSource" />  
        </property>  
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>  
        <property name="packagesToScan">  
            <list>  
                <value>com.youzan.easyranking.entity</value>  
            </list>  
        </property>  
    </bean>  
    <!-- 
    <bean id="transactionManager"  
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean>  
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <tx:attributes>   
            <tx:method name="*" propagation="SUPPORTS"/>  
        </tx:attributes>  
    </tx:advice>   
    <aop:config>  
        <aop:pointcut id="serviceOperation" expression="execution(* com.youzan.dao..*.*(..))" />  
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />  
    </aop:config>  
    -->
    <context:component-scan base-package="com.youzan.easyranking" /> 
    <bean id="candidateDao" class="com.youzan.easyranking.dao.CandidateDao"> 
    	<property name="sessionFactory">  
            <ref bean="sessionFactory" />  
        </property>
    </bean>  
     <bean id="candidateAction" class="com.youzan.easyranking.action.CandidateAction"> 
    	<property name="candidateDao">  
            <ref bean="candidateDao" />  
        </property>
    </bean>
    <bean id="rankAction" class="com.youzan.easyranking.action.RankAction"> 
    	<property name="candidateDao">  
            <ref bean="candidateDao" />  
        </property>
    </bean>
</beans>