<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:property-placeholder  location="/WEB-INF/app.properties"/>
    <!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" p:location="/WEB-INF/jdbc.properties" /> -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.url}"
		p:username="${jdbc.username}"
		p:password="${jdbc.password}"/>
 	<bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="packagesToScan">
            <list>
                <value>com.youzan.easyranking.entity</value>
            </list>
        </property>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="edit*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="*" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="serviceOperation" expression="execution(* com.youzan.easyranking.dao..*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
    </aop:config>
    <context:component-scan base-package="com.youzan.easyranking"/>
    <bean id="candidateDao" class="com.youzan.easyranking.dao.CandidateDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="voteDao" class="com.youzan.easyranking.dao.VoteDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="weiXinUserDao" class="com.youzan.easyranking.dao.WeiXinUserDao">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
    <bean id="weiXinService" class="com.youzan.easyranking.service.WeiXinService">
    	<property name="weixinKey" value="${weixinKey}"/>
    	<property name="weiXinSecret" value="${weiXinSecret}"/>
    </bean>
    <bean id="sequence"
		class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer">
		<property name="incrementerName" value="SEQENCE" />
		<property name="columnName" value="VALUE" />
		<property name="cacheSize" value="10" />
		<property name="dataSource" ref="dataSource" />
	</bean> 
    <bean id="cacheManager" class="com.youzan.easyranking.cache.CacheManager" factory-method="getInstance"
          init-method="initCache">
        <property name="candidateDao">
            <ref bean="candidateDao"/>
        </property>
        <property name="voteDao">
            <ref bean="voteDao"/>
        </property>
        <property name="weiXinUserDao">
            <ref bean="weiXinUserDao"/>
        </property>
        <property name="weiXinService">
            <ref bean="weiXinService"/>
        </property>
        <property name="sequence">
            <ref bean="sequence"/>
        </property>
        <property name="cacheSynchInterval" value="${cacheSynchInterval}"/>
    	<property name="cacheSynchThreshold" value="${cacheSynchThreshold}"/> 
    </bean>
    <bean id="appInfo" class="com.youzan.easyranking.action.AppInfoBean" scope="globalSession">   
      	<property name="voteInterval" value="${voteInterval}"/>
 		<property name="anonymousAllowed" value="${anonymousAllowed}"/>
 		<property name="anonymousVoteInternal" value="${anonymousVoteInternal}"/>
 		<property name="couponUrls" value="#{'${couponUrls}'.split(',')}"/>
    </bean>
    <bean id="userInfo" class="com.youzan.easyranking.action.UserInfoBean" scope="session"/>
	<bean id="abstractBean" abstract="true" class="com.youzan.easyranking.action.AbstractBean">
  		<property name="cacheManager">
            <ref bean="cacheManager"/>
        </property>
        <property name="userInfo">
            <ref bean="userInfo"/>
        </property>
        <property name="appInfo">
            <ref bean="appInfo"/>
        </property>
	</bean>
    <bean id="candidateAction"  parent="abstractBean" class="com.youzan.easyranking.action.CandidateAction" scope="prototype"/>
    <bean id="voteAction" 		parent="abstractBean" class="com.youzan.easyranking.action.VoteAction" 		scope="prototype"/>
    <bean id="mainAction" 		parent="abstractBean" class="com.youzan.easyranking.action.MainAction" 		scope="prototype"/>
    <bean id="couponAction" 	parent="abstractBean" class="com.youzan.easyranking.action.CouponAction" 	scope="prototype"/>
    <bean id="loginAction"  	parent="abstractBean" class="com.youzan.easyranking.action.LoginAction" 	scope="prototype"/>
</beans>