<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>  
	<session-factory>
	    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="jdbc.batch_size">100</property>
		<property name="connection.autocommit">false</property>
		<property name="show_sql">true</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		<!-- 
		<property name="cache.provider_configuration_file_resource_path">/ehcache.xml</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="cache.use_query_cache">true</property>
		 -->
		<mapping class="com.youzan.easyranking.entity.Candidate" />
		<mapping class="com.youzan.easyranking.entity.Vote" />
		<mapping class="com.youzan.easyranking.entity.WeiXinUser" />
    </session-factory>
</hibernate-configuration>